@font-face {
    font-family:"Avara-Bold";
    src: url("fonts/Avara-Bold.woff2") format("woff2")
}

body {
    background-color: aliceblue;
    font-family: "Avara-Bold", serif;
    font-size: 15px;
}

img {
    max-width: 100%;
    height: auto;
}
.grid-container{
    display: grid;
    padding: 15px 15px 15px 15px;
    gap: 15px;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-template-areas:
    ". name name name name bio"
    ". image-1 image-1 image-1 text-1 text-1"
    ". image-2 image-2 image-2 text-2 text-2"
    ". image-3 image-3 image-3 text-3 text-3"
}

.name {
    grid-area: name;
}

.name h1 {
    color: rgb(171, 203, 77);
    font-family: "Avara-Bold", serif;
    font-size: 10rem;
    margin: 0;
}

.name h1:hover {
    color: blue;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: bold;
    font-style: normal;
    transition: color 1s ease;
}

.bio {
    grid-area: bio;
}

.bio p {
    color: rgb(171, 203, 77);
    font-size: 2rem;
    line-height: 1;
    text-align: right;
    margin: 0;
    opacity: 1;
    transition: opacity 0.5s ease;
}

.bio p:hover {
    opacity: 0.2;
}

.image-1 {
    grid-area: image-1;
    position: relative;
}

.image-1 img {
    transition: opacity 0.3s ease;
}

.image-1 .b {
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0;
}

.image-1:hover .a {
    opacity: 0;
}

.image-1:hover .b {
    opacity: 1;
}

.image-2 {
    grid-area: image-2;
}

.image-2 img {
    box-shadow: 0 0 0 rgba(0, 0, 0, 0);
    transition: box-shadow 0.5 ease;
}

.image-2 img:hover {
    box-shadow: 0 10px 20px rgba(0, 0, 0, 3);
}

.image-1 img {
    transition: transform 0.3s ease;
 }

/* .image-1 img:hover {
    transform: scale(2);
} */
.image-3 {
    grid-area: image-3;
}

.image-3 img {
    transition: transform 2s ease;
}

.image-3 img:hover {
    transform: rotate(1080deg);
}

.text-1 {
    grid-area: text-1;
}

.text-2 {
    grid-area: text-2;
}

.text-3 {
    grid-area: text-3;
}

