@font-face {
    font-family:"terminal-grotesque-webfont";
    src: url("fonts/terminal-grotesque-webfont.woff2") format("woff2");
}

@font-face {
    font-family:"terminal-grotesque-webfont";
    src: url("fonts/terminal-grotesque-webfont.woff2") format("woff2");
}

body {
    background-color: rgb(212, 213, 214);
    font-family: "terminal-grotesque-webfont";
    font-size: 15px;
}

img {
    max-width: 100%;
    height: auto;
}

p {
    margin: 0;
}

.grid-container{
    display: grid;
    padding: 15px 15px 15px 15px;
    gap: 15px;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-template-areas:
    "name name name bio bio bio text-4 text-4 text-4"
    "text-1 text-1 text-1 text-2 text-2 text-2 text-3 text-3 text-3"
    "image-11 image-11 image-11 image-6 image-6 image-6 image-1 image-1 image-1"
    "image-12 image-12 image-12 image-7 image-7 image-7 image-4 image-4 image-4" 
    "image-13 image-13 image-13 image-8 image-8 image-8 image-2 image-2 image-2"
    "image-14 image-14 image-14 image-9 image-9 image-9 image-5 image-5 image-5"
    "image-15 image-15 image-15 image-10 image-10 image-10 image-3 image-3 image-3"
    "text-5 text-5 text-5 text-6 text-6 text-6 text-7 text-7 text-7"
    "text-8 text-8 text-8 text-9 text-9 text-9 text-10 text-10 text-10"

}

.name {
    grid-area: name;
    position: relative;
    top: -10px;
    z-index: 1;
}

.name h1 {
    color:  rgb(34, 24, 175);
    font-family: "terminal-grotesque-webfont";
    font-size: 3rem;
    margin: 0;
    text-align: left;
}

.name h1:hover {
    color: rgb(234, 234, 234);
}

.bio {
    grid-area: bio;
}

.bio p {
    color: rgb(34, 24, 175);
    font-size: 1.5rem;
    line-height: 1;
    text-align:left;
    margin: 0;
}


.image-1 {
    grid-area: image-1;
    position: relative;
}

.image-1 .b {
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0;
}

.image-1:hover .a {
    opacity: 0;
}

.image-1:hover .b {
    opacity: 1;
}

.image-2 {
    grid-area: image-2;
    position: relative;
}

.image-2 .b {
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0;
}

.image-2:hover .a {
    opacity: 0;
}

.image-2:hover .b {
    opacity: 1;
}

.image-3 {
    grid-area: image-3;
    position: relative;
}

.image-3 .b {
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0;
}

.image-3:hover .a {
    opacity: 0;
}

.image-3:hover .b {
    opacity: 1;
}

.image-4 {
    grid-area: image-4;
    position: relative;
}

.image-4 .b {
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0;
}

.image-4:hover .a {
    opacity: 0;
}

.image-4:hover .b {
    opacity: 1;
}

.image-5 {
    grid-area: image-5;
    position: relative;
}

.image-5 .b {
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0;
}

.image-5:hover .a {
    opacity: 0;
}

.image-5:hover .b {
    opacity: 1;
}

.image-6 {
    grid-area: image-6;
    position: relative;
}

.image-6 .b {
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0;
}

.image-6:hover .a {
    opacity: 0;
}

.image-6:hover .b {
    opacity: 1;
}

.image-7 {
    grid-area: image-7;
    position: relative;
}

.image-7 .b {
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0;
}

.image-7:hover .a {
    opacity: 0;
}

.image-7:hover .b {
    opacity: 1;
}

.image-8 {
    grid-area: image-8;
    position: relative;
}

.image-8 .b {
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0;
}

.image-8:hover .a {
    opacity: 0;
}

.image-8:hover .b {
    opacity: 1;
}

.image-9 {
    grid-area: image-9;
    position: relative;
}

.image-9 .b {
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0;
}

.image-9:hover .a {
    opacity: 0;
}

.image-9:hover .b {
    opacity: 1;
}

.image-10 {
    grid-area: image-10;
    position: relative;
}

.image-10 .b {
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0;
}

.image-10:hover .a {
    opacity: 0;
}

.image-10:hover .b {
    opacity: 1;
}

.image-11 {
    grid-area: image-11;
    position: relative;
}

.image-11 .b {
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0;
}

.image-11:hover .a {
    opacity: 0;
}

.image-11:hover .b {
    opacity: 1;
}

.image-12 {
    grid-area: image-12;
    position: relative;
}

.image-12 .b {
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0;
}

.image-12:hover .a {
    opacity: 0;
}

.image-12:hover .b {
    opacity: 1;
}

.image-13 {
    grid-area: image-13;
    position: relative;
}

.image-13 .b {
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0;
}

.image-13:hover .a {
    opacity: 0;
}

.image-13:hover .b {
    opacity: 1;
}

.image-14 {
    grid-area: image-14;
    position: relative;
}

.image-14 .b {
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0;
}

.image-14:hover .a {
    opacity: 0;
}

.image-14:hover .b {
    opacity: 1;
}

.image-15 {
    grid-area: image-15;
    position: relative;
}

.image-15 .b {
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0;
}

.image-15:hover .a {
    opacity: 0;
}

.image-15:hover .b {
    opacity: 1;
}


.text-1 {
    grid-area: text-1;
    color: rgb(34, 24, 175);
    text-align: center;
}

.text-2 {
    grid-area: text-2;
    color: rgb(34, 24, 175);
    text-align: center;
}

.text-3 {
    grid-area: text-3;
    color: rgb(34, 24, 175);
    text-align: center;
}

.text-4 {
    grid-area: text-4;
    font-size: 1.5rem;
    color: rgb(34, 24, 175);
    text-align:left;
}

.text-4 p {
    margin: 0;
}

.text-5 {
    grid-area: text-5;
    font-size: 1.5rem;
    color: rgb(34, 24, 175);
    text-align:left;
}

.text-6 {
    grid-area: text-6;
    font-size: 1.5rem;
    color: rgb(34, 24, 175);
    text-align:left;
}

.text-7 {
    grid-area: text-7;
    font-size: 1.5rem;
    color: rgb(34, 24, 175);
    text-align:left;
}
.text-8 {
    grid-area: text-8;
    font-size: 7rem;
    color: rgb(34, 24, 175);
    text-align:center;
}

.text-9 {
    grid-area: text-9;
    font-size: 7rem;
    color: rgb(34, 24, 175);
    text-align:center;
}

.text-10 {
    grid-area: text-10;
    font-size: 7rem;
    color: rgb(34, 24, 175);
    text-align:center;
}

.text-8 p {
    transition: transform 2s ease;
}

.text-8 p:hover {
    transform: rotate(720deg);
}

.text-9 p {
    transition: transform 2s ease;
}

.text-9 p:hover {
    transform: rotate(720deg);
}

.text-10 p {
    transition: transform 2s ease;
}

.text-10 p:hover {
    transform: rotate(720deg);
}

