@font-face {
    font-family:"Avara-Bold";
    src: url("fonts/Avara-Bold.woff2") format("woff2")
}

body {
    background-color: rgb(37, 13, 133);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 15px;
}

img {
    max-width: 100%;
    height: auto;
}
.grid-container{
    display: grid;
    padding: 15px 15px 15px 15px;
    gap: 15px;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-template-areas:
    "zeichen-1 name name name bio bio bio zeichen-2"
    "zeichen-3 . . image-3 image-4 image-5 . zeichen-4"
    "zeichen-5 . . image-1 image-1 image-1 . zeichen-6"
    "zeichen-7 . . image-2 image-2 image-2 . zeichen-8 "
    "zeichen-9 . . . . . . zeichen-10"
    "zeichen-11 text-1 text-2 text-3 text-4 text-5 . zeichen-12"
    /* "zeichen-1 name name name name name bio zeichen-2"
    "zeichen-3 image-1 image-1 . . . . zeichen-4"
    "zeichen-5 text-1 . . image-4 . . zeichen-6"
    "zeichen-7 . . . text-4 image-2 image-2 zeichen-8 "
    "zeichen-9 . image-3 . . text-2 . zeichen-10"
    "zeichen-11 . text-3 . . image-5 . zeichen-12"
    ". . . . . text-5 . ." */
}
*/
.name {
    grid-area: name;
}

.name h1 {
    color: rgb(34, 24, 175);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 6rem;
    margin: 0;
}

.name h1:hover {
    color: rgb(255, 87, 69);
    /* font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: bold;
    font-style: normal; */
}

.bio {
    grid-area: bio;
}

.bio p {
    color: rgb(171, 203, 77);
    font-size: 2rem;
    line-height: 1;
    text-align: right;
    margin: 0;
}

.image-1 {
    grid-area: image-1;
}

.image-2 {
    grid-area: image-2;
}

.image-3 {
    grid-area: image-3;
}

.image-4 {
    grid-area: image-4;
}

.image-5 {
    grid-area: image-5;
}

.text-1 {
    grid-area: text-1;
}

.text-2 {
    grid-area: text-2;
}

.text-3 {
    grid-area: text-3;
}

.text-4 {
    grid-area: text-4;
}

.text-5 {
    grid-area: text-5;
}

.zeichen-1 {
    grid-area: zeichen-1;
}

.zeichen-1 p {
    color: #8b97d3;
    font-size: 4rem;
    margin: 0;
}

.zeichen-2 {
    grid-area: zeichen-2;
}

.zeichen-2 p {
    color: #8b97d3;
    font-size: 4rem;
    text-align: right;
    margin: 0;
}


.zeichen-3 {
    grid-area: zeichen-3;
}

.zeichen-3 p {
    color: #8b97d3;
    font-size: 4rem;
    margin: 0;
}

.zeichen-4 {
    grid-area: zeichen-4;
}

.zeichen-4 p {
    color: #8b97d3;
    font-size: 4rem;
    text-align: right;
    margin: 0;
}

.zeichen-5 {
    grid-area: zeichen-5;
}

.zeichen-5 p {
    color: #8b97d3;
    font-size: 4rem;
    margin: 0;
}

.zeichen-6 {
    grid-area: zeichen-6;
}

.zeichen-6 p {
    color: #8b97d3;
    font-size: 4rem;
    text-align: right;
    margin: 0;
}

.zeichen-7 {
    grid-area: zeichen-7;
}

.zeichen-7 p {
    color: #8b97d3;
    font-size: 4rem;
    margin: 0;
}

.zeichen-8 {
    grid-area: zeichen-8;
}

.zeichen-8 p {
    color: #8b97d3;
    font-size: 4rem;
    text-align: right;
    margin: 0;
}

.zeichen-9 {
    grid-area: zeichen-9;
}

.zeichen-9 p {
    color: #8b97d3;
    font-size: 4rem;
    margin: 0;
}

.zeichen-10 {
    grid-area: zeichen-10;
}

.zeichen-10 p {
    color: #8b97d3;
    font-size: 4rem;
    text-align: right;
    margin: 0;
}

.zeichen-11 {
    grid-area: zeichen-11;
}

.zeichen-11 p {
    color: #8b97d3;
    font-size: 4rem;
    margin: 0;
}

.zeichen-12 {
    grid-area: zeichen-12;
}

.zeichen-12 p {
    color: #8b97d3;
    font-size: 4rem;
    text-align: right;
    margin: 0;
}
