@font-face {
    font-family:"terminal-grotesque-webfont";
    src: url("fonts/terminal-grotesque-webfont.woff2") format("woff2")
}

@font-face {
    font-family:"terminal-grotesque-webfont";
    src: url("fonts/terminal-grotesque-webfont.woff2") format("woff2")
}

body {
    background-color: rgb(255, 255, 255);
    font-family: "terminal-grotesque-webfont";
    font-size: 15px;
}

img {
    max-width: 100%;
    height: auto;
}
.grid-container{
    display: grid;
    padding: 15px 15px 15px 15px;
    gap: 15px;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-template-areas:
    "name name name name name name . . ."
    "bio bio bio bio bio bio bio bio bio"
    "text-1 text-1 text-1 text-2 text-2 text-2 text-3 text-3 text-3"
    "image-11 image-11 image-11 image-6 image-6 image-6 image-1 image-1 image-1"
    "image-12 image-12 image-12 image-7 image-7 image-7 image-4 image-4 image-4" 
    "image-13 image-13 image-13 image-8 image-8 image-8 image-2 image-2 image-2"
    "image-14 image-14 image-14 image-9 image-9 image-9 image-5 image-5 image-5"
    "image-15 image-15 image-15 image-10 image-10 image-10 image-3 image-3 image-3"

    /* "zeichen-1 name name name name name bio zeichen-2"
    "zeichen-3 image-1 image-1 . . . . zeichen-4"
    "zeichen-5 text-1 . . image-4 . . zeichen-6"
    "zeichen-7 . . . text-4 image-2 image-2 zeichen-8 "
    "zeichen-9 . image-3 . . text-2 . zeichen-10"
    "zeichen-11 . text-3 . . image-5 . zeichen-12"
    ". . . . . text-5 . ." */
}

.name {
    grid-area: name;
    /* position: relative; */
    top: 170px;
    z-index: 1;
}

.name h1 {
    color:  rgb(17, 0, 255);
    font-family: "terminal-grotesque-webfont";
    font-size: 4rem;
    margin: 0;
    text-align:left;
}

.name h1:hover {
    color: rgb(255, 0, 85);

    /* font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: bold;
    font-style: normal; */
}

.bio {
    grid-area: bio;
}

.bio p {
    color: rgb(17, 0, 255);
    font-size: 2rem;
    line-height: 1;
    text-align:left;
    margin: 0;
}


.image-1 {
    grid-area: image-1;
    position: relative;
}

.image-1 .b {
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0;
}

.image-1:hover .a {
    opacity: 0;
}

.image-1:hover .b {
    opacity: 1;
}

.image-2 {
    grid-area: image-2;
    position: relative;
}

.image-2 .b {
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0;
}

.image-2:hover .a {
    opacity: 0;
}

.image-2:hover .b {
    opacity: 1;
}

.image-3 {
    grid-area: image-3;
    position: relative;
}

.image-3 .b {
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0;
}

.image-3:hover .a {
    opacity: 0;
}

.image-3:hover .b {
    opacity: 1;
}

.image-4 {
    grid-area: image-4;
    position: relative;
}

.image-4 .b {
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0;
}

.image-4:hover .a {
    opacity: 0;
}

.image-4:hover .b {
    opacity: 1;
}

.image-5 {
    grid-area: image-5;
    position: relative;
}

.image-5 .b {
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0;
}

.image-5:hover .a {
    opacity: 0;
}

.image-5:hover .b {
    opacity: 1;
}

.image-6 {
    grid-area: image-6;
    position: relative;
}

.image-6 .b {
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0;
}

.image-6:hover .a {
    opacity: 0;
}

.image-6:hover .b {
    opacity: 1;
}

.image-7 {
    grid-area: image-7;
    position: relative;
}

.image-7 .b {
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0;
}

.image-7:hover .a {
    opacity: 0;
}

.image-7:hover .b {
    opacity: 1;
}

.image-8 {
    grid-area: image-8;
    position: relative;
}

.image-8 .b {
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0;
}

.image-8:hover .a {
    opacity: 0;
}

.image-8:hover .b {
    opacity: 1;
}

.image-9 {
    grid-area: image-9;
    position: relative;
}

.image-9 .b {
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0;
}

.image-9:hover .a {
    opacity: 0;
}

.image-9:hover .b {
    opacity: 1;
}

.image-10 {
    grid-area: image-10;
    position: relative;
}

.image-10 .b {
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0;
}

.image-10:hover .a {
    opacity: 0;
}

.image-10:hover .b {
    opacity: 1;
}

.image-11 {
    grid-area: image-11;
    position: relative;
}

.image-11 .b {
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0;
}

.image-11:hover .a {
    opacity: 0;
}

.image-11:hover .b {
    opacity: 1;
}

.image-12 {
    grid-area: image-12;
    position: relative;
}

.image-12 .b {
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0;
}

.image-12:hover .a {
    opacity: 0;
}

.image-12:hover .b {
    opacity: 1;
}

.image-13 {
    grid-area: image-13;
    position: relative;
}

.image-13 .b {
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0;
}

.image-13:hover .a {
    opacity: 0;
}

.image-13:hover .b {
    opacity: 1;
}

.image-14 {
    grid-area: image-14;
    position: relative;
}

.image-14 .b {
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0;
}

.image-14:hover .a {
    opacity: 0;
}

.image-14:hover .b {
    opacity: 1;
}

.image-15 {
    grid-area: image-15;
    position: relative;
}

.image-15 .b {
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0;
}

.image-15:hover .a {
    opacity: 0;
}

.image-15:hover .b {
    opacity: 1;
}


.text-1 {
    grid-area: text-1;
    color: rgb(17, 0, 255);
    text-align: center;
}

.text-2 {
    grid-area: text-2;
    color: rgb(17, 0, 255);
    text-align: center;
}

.text-3 {
    grid-area: text-3;
    color: rgb(17, 0, 255);
    text-align: center;
}

/* .text-4 {
    grid-area: text-4;
}

.text-5 {
    grid-area: text-5;
}

.text-6 {
    grid-area: text-6;
} */

/* .zeichen-1 {
    grid-area: zeichen-1;
}

.zeichen-1 p {
    color: #8b97d3;
    font-size: 4rem;
    margin: 0;
}

.zeichen-2 {
    grid-area: zeichen-2;
}

.zeichen-2 p {
    color: #8b97d3;
    font-size: 4rem;
    text-align: right;
    margin: 0;
}


.zeichen-3 {
    grid-area: zeichen-3;
}

.zeichen-3 p {
    color: #8b97d3;
    font-size: 4rem;
    margin: 0;
}

.zeichen-4 {
    grid-area: zeichen-4;
}

.zeichen-4 p {
    color: #8b97d3;
    font-size: 4rem;
    text-align: right;
    margin: 0;
}

.zeichen-5 {
    grid-area: zeichen-5;
}

.zeichen-5 p {
    color: #8b97d3;
    font-size: 4rem;
    margin: 0;
}

.zeichen-6 {
    grid-area: zeichen-6;
}

.zeichen-6 p {
    color: #8b97d3;
    font-size: 4rem;
    text-align: right;
    margin: 0;
}

.zeichen-7 {
    grid-area: zeichen-7;
}

.zeichen-7 p {
    color: #8b97d3;
    font-size: 4rem;
    margin: 0;
}

.zeichen-8 {
    grid-area: zeichen-8;
}

.zeichen-8 p {
    color: #8b97d3;
    font-size: 4rem;
    text-align: right;
    margin: 0;
}

.zeichen-9 {
    grid-area: zeichen-9;
}

.zeichen-9 p {
    color: #8b97d3;
    font-size: 4rem;
    margin: 0;
}

.zeichen-10 {
    grid-area: zeichen-10;
}

.zeichen-10 p {
    color: #8b97d3;
    font-size: 4rem;
    text-align: right;
    margin: 0;
}

.zeichen-11 {
    grid-area: zeichen-11;
}

.zeichen-11 p {
    color: #8b97d3;
    font-size: 4rem;
    margin: 0;
}

.zeichen-12 {
    grid-area: zeichen-12;
}

.zeichen-12 p {
    color: #8b97d3;
    font-size: 4rem;
    text-align: right;
    margin: 0;
} */
