img {
    max-width: 100%;
    height: auto;
}

body {
    background-color:aliceblue;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: bold;
}
.grid-container{
    display: grid;
    padding: 15px 15px 15px 15px;
    gap: 15px;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-template-areas:
    ". name name name name bio"
    ". image-1 image-1 image-1 text-1 text-1"
    ". image-2 image-2 image-2 text-2 text-2"
    ". image-3 image-3 image-3 text-3 text-3"
}

.name {
    grid-area: name;
}

.name h1 {
    color: rgb(171, 203, 77);
    font-size: 100px;
    margin: 0;
}

.name h1:hover {
    color: blue;
    /* font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; */
    /* font-weight: bold; */
    /* font-style: normal; */
}

.bio {
    grid-area: bio;
}

.bio p {
    color: rgb(171, 203, 77);
    font-size: 24px;
    line-height: 1;
    text-align: right;
    margin: 0;
}

.image-1 {
    grid-area: image-1;
}

.image-2 {
    grid-area: image-2;
}

.image-3 {
    grid-area: image-3;
}

.text-1 {
    grid-area: text-1;
}

.text-2 {
    grid-area: text-2;
}

.text-3 {
    grid-area: text-3;
}

